[submodule "depends/libff"]
	path = depends/libff
	url = https://github.com/ychyss/libff.git
	branch = master
[submodule "depends/libfqfft"]
	path = depends/libfqfft
	url = https://github.com/ychyss/libfqfft.git
	branch = master
